.cancelBtn{
     display: inline-block;
    margin-top: 20px;
    background-color:transparent;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: rgba(24, 28, 39, 0.6);
     height: 44px;
     cursor: pointer;
}

.cancelBtn:hover{
transform: scale(1.1);
}

