.formTitle{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
}

@media screen and  (min-width: 768px){

    .formBox{
        width: 530px;
        margin-right: 60px;
    }
    .form{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
    }

    .formTitle{
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .input{
        width: 300px;
        border: none;
        margin-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }

}
