.chartContainer {
  background-color: white;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .chartContainer {
    position: relative;
    overflow-x: scroll;
    width: 100%;
  }
}
/* .graph-container {
  height: 500px;
  width: 100%;
  min-width: 100%;
} */
