.sprintsButtonBackContainer {
  padding: 0 20px;
  display: block;
  height: 37px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  color: #000;
}

.buttonBack {
  padding: 0;
  width: 280px;
  height: 17px;
  background-color: transparent;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
}

.showProject:hover {
  color: #f78335;
}
.iconBack {
  margin-right: 20px;
  width: 30px;
  height: 10px;
}

.showProject {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: 0.04em;
  color: blackColor;
}

.sprintsButtonCreateContainer {
  display: none;
}

.sprintsList {
  display: none;
}

.leftPanelSprintssContainer {
  display: none;
}

.item {
  display: flex;
  align-items: center;
  color: #181c27;
}

.sprintIcon {
  display: block;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  margin-right: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 1px rgba(3, 3, 56, 0.329);
  border-radius: 5px;
  cursor: pointer;
}
.sprintIcon:hover {
  transform: scale(1.03);
  transition-duration: 500ms;
}
.sideButtonBox {
  display: none;
}

@media (min-width: 768px) {
  .sideButtonBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .sprintsButtonBackContainer {
    margin-top: 20px;
    margin-left: 2px;
    border-bottom: none;
    padding: 0;
    text-align: center;
  }

  .sprintsButtonCreateContainer {
    display: block;
  }

  .leftPanelSprintsContainer {
    display: block;
    margin-top: 93px;
    padding-top: 2px;
    padding-left: 2px;
    margin-bottom: 60px;
    overflow-y: scroll;
    height: 310px;
  }

  .sprintsList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
  }

  .activeItem {
    font-weight: bold;
    color: #181c27;
  }
  .leftPanelSprintsContainer::-webkit-scrollbar-thumb {
    background-color: #f78335;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f78335;
  }

  .leftPanelSprintsContainer::-webkit-scrollbar {
    width: 8px;
  }
  .buttonTag {
    margin-top: 15px;
  }
}
@media (min-width: 1280px) {
}
