
.box {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 280px;

}

@media (min-width: 768px) {
    .box {
        gap: 20px;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .box{
        gap: 30px;
       }
}
