.emptyMessageBox {
  width: 100%;
  height: 100vh;
}
.emptyMessage {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 150px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.taskCard {
  display: block;
  width: 280px;
  margin: 0 auto;

  box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1);
  border-radius: 5px;
  background: white;
}

.taskCard:hover {
  transform: scale(1.05);
  transition-duration: 500ms;
}

@media (min-width: 768px) {
  .emptyMessage {
    font-size: 18px;
    line-height: 22px;
  }
  .taskList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0;
    gap: 25px;
  }

  .taskCard {
    width: 216px;
    margin-left: 0;
  }
}

@media (min-width: 1280px) {
  .taskCard {
    width: 869px;
    margin: 0 auto;
  }
}
