.sprintList {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 280px;
}

@media (min-width: 768px) {
  .sprintList {
    gap: 20px;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .sprintList {
    gap: 20px;
    margin-left: 56px;
  }
}
