  .addedMembers{
font-size: 14px;
line-height: 17px;
color: rgba(24, 28, 39, 0.6);
text-align: left;
margin-bottom: 20px;
}

.message{
font-size: 20px;
line-height: 20px;
letter-spacing: 0.04em;
color: #181C27;
text-align: left;
margin-bottom: 60px;
}

.membersList{
  margin-bottom: 60px;
  text-align: left;
}
.membersListItem{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 18px;
line-height: 22px;
color: #181C27;

}

.deleteBtn{
  display: inline-block;
  background-color: grey;
  border-radius: 50%;
 font-size: 5px;
 height: 16px;
}
