.projectList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline-start:0;

}

/*@media screen and (min-width: 320px) {*/
/*    .projectList li:not(:nth-child(2n)) {*/
/*        margin-right: 10px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 767px) {*/
/*    .projectList li:not(:nth-child(3n)) {*/
/*        margin-right: 20px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1279px) {*/
/*    .projectList li:not(:nth-child(4n)) {*/
/*        margin-right: 30px;*/
/*    }*/
/*}*/