
.iconPencil{
    fill: black;
    width: 20px;
    height: 20px;
}
.iconAddPeople{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.buttonFix{
    background-color: #FFFFFF;
    outline: none;
    border: none;
}

@media screen and (max-width: 767px){

    .addPeopleBox{
        margin-top: 30px;
    }

    .head{
        margin: 0;
        display: flex;

    }

    .buttonBox{
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 5;
        margin-right: 0;
    }


    .description{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        color: #181C27;
        width: 280px;
    }

    .pageTitle{
        margin: 0;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.04em;
        color: #181C27;

    }

    .description{
        margin: 0;
    }


    .pageText{
        display: none;
    }

    .boxBack{
        display: inline-block;
        width: 130px;
        position: absolute;
        left: 44px;
        top: 0px;
    }


    .titleBox{
        margin: 0;
        display: flex;
        /*align-items: center;*/
    }

    .pageTitle{
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;

        letter-spacing: 0.04em;

        color: #181C27;
    }
}
.titleBox{
    margin-top: 67px;
    margin-bottom: 30px;
    display: flex;
}
.buttonAddPeople{
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: #FFFFFF;
}
.addPeopleText{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #181C27;
}

@media screen and  (min-width: 768px) and (max-width: 1279px){



    .box{
        position: relative;
        display: flex;
    }


    .boxBack{
        position: absolute;
        left: 44px;
        top: 20px;
        width: 130px;
        margin-bottom: 165px;

    }


    .head{
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buttonBox{
        display: flex;
        align-items: center;
        margin-right: 86px;
    }
    .pageText{
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #181C27;

    }
    .pageTitle{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .description{
        width: 400px;
        margin-top: 0;
        margin-bottom: 30px;
    }


    .addPeopleText{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #181C27;
    }
    .titleBox{
        display: flex;
    }


}

@media screen and (min-width: 1280px){

    .box{
        position: relative;
        display: flex;
    }


    .boxBack{
        position: absolute;
        left: 44px;
        top: 20px;
        width: 130px;
        margin-bottom: 165px;

    }

    .head{
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buttonBox{
        display: flex;
        align-items: center;
        margin-right: 86px;
    }
    .pageText{
        margin-left: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #181C27;

    }
    .pageTitle{
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #181C27;
    }

    .description{
        width: 400px;
        margin-top: 0;
        margin-bottom: 30px;
    }


    .addPeopleText{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-decoration-line: underline;
        color: #181C27;
    }
    .titleBox{
        display: flex;
    }



}


