@media (min-width: 768px) {
  .leftBarContainer {
    display: block;
    position: sticky;
    top: 0;
    padding-left: 40px;
    min-width: 255px;
    max-width: 255px;
    height: 100vh;
  }
}
