.projectSideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boxBack{
    width: 150px;
    position: relative;
}


.boxBackLink{
    color: #181C27;
    width: 150px;
    position: absolute;
    margin-left: 20px;
    display: flex;
    margin-top: 20px;
}

.boxBackLink:hover{
    color: #FF6C00;
}

.sideButtonBox{
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}


@media screen and  (max-width: 767px){
    .projectSideBar{
        display: none;
    }
}


@media screen and  (min-width: 768px) and (max-width: 1279px){
    .sidePlusText{
        margin-top: 15px;
    }
}

@media screen and (min-width: 1280px){
    .sidePlusText{
        margin-top: 15px;
    }
}


