.projectSideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and  (max-width: 767px){
    .projectSideBar{
display: none;
    }
}

.boxBack{
    margin-left: 44px;
    display: flex;
    margin-top: 20px;
}

.showProject{
    width: 50px;
}

.sideButtonBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 173px;
}


.sidePlusText{
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #181C27;
}

@media screen and  (min-width: 768px) and (max-width: 1279px){

}

@media screen and (min-width: 1280px){

}


