.form {
  width: 350px;

  padding: 20px;

  background-color: rgb(179 29 133 / 32%);
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input {
  border-radius: 7px;
  border: none;
  padding: 5px;
  outline: none;
}

.button {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  background-color: rgba(27, 27, 27, 0.164);
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  margin-top: 41px;

  cursor: pointer;
}

.button:hover {
  background: rgba(33, 17, 177, 0.658);
  color: #fff;
}
.registerButton:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}
