.pageBox {
  position: relative;
  padding: 0 20px;
  background-color: rgba(241, 242, 247, 1);
}

.icon {
  fill: white;
  width: 20px;
  height: 20px;
}

.pageTitle {
  font-weight: 500;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pageText {
    display: none;
  }

  .buttonBox {
    position: absolute;
    z-index: 5;
    bottom: 20px;
    right: 20px;
  }
  .pageBox {
    padding: 0 20px;
    max-width: 480px;
  }
  .pageText {
    display: none;
  }
  .pageTitle {
    padding-top: 20px;
    padding-bottom: 36px;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .pageCreate {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .pageBox {
    max-width: 1279px;
  }

  .pageBox {
    padding: 0 40px;
  }

  .pageTitle {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 44px;
  }

  .buttonBox {
    display: flex;
    align-items: center;
  }

  .pageText {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .pageCreate {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 65px;
  }

  .pageTitle {
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }

  .pageText {
    display: block;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .pageBox {
    padding: 0 55px;
    max-width: 1600px;
  }

  .buttonBox {
    display: flex;
    align-items: center;
  }
}
