/*==================MOBILE=========================*/
@value accentColor from '../../main.module.css';
@value greyColor from '../../main.module.css';

.dataPicker {
  width: 280px;
  border: none;
  border-bottom: 1px solid greyColor;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #181c27;
  font-size: 18px;
  line-height: 22px;
}

.titleForm {
  background-color: white;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.inputName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 100%;
  outline: none;
  border-color: greyColor;
  border: none;
  border-bottom: solid 0.8px greyColor;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 45px;
  transition: all 0.5s;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
}
.formDuration {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
}

.inputTime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
  outline: none;
  border-color: greyColor;
  border: none;
  border-bottom: solid 0.8px greyColor;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 50px;
  transition: all 0.5s;
}

.inputName:focus,
.inputTime:focus {
  box-shadow: none;
  outline: none;
  border-color: accentColor;
}

.errorName {
  display: block;
  color: accentColor;
  margin-top: -38px;
}

.errorTime {
  display: block;
  color: accentColor;
  margin-top: -38px;
}

.inputName::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputName::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputName:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputName:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputName:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.inputName:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.inputName:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.inputName:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.inputTime::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputTime::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputTime:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputTime:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.inputTime:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.inputTime:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.inputTime:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.inputTime:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}

.dataPickerContainer {
  display: flex;
  flex-direction: column;
}

.dataPickerLabel {
  font-family: Montserrat;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(24, 28, 39, 0.6);
  
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  margin-top: 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  font-size: 16px;
  line-height: 12px;
  color: greyColor;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin-top: 20px;
}
.checkbox__text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 15.5px;
  border-radius: 30px;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.checkbox__text:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 13px;
  height: 12px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.checkbox input:checked + .checkbox__text:before {
  background: accentColor;
}
.checkbox input:checked + .checkbox__text:after {
  left: 15px;
}
.checkbox input:focus + .checkbox__text:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 2px 2px rgba(241, 165, 0, 0.774);
}

/*==================TABLET=========================*/

@media screen and (min-width: 768px) {
  .tabletContainer {
    display: flex;
  }

  .dataPicker {
    width: 115%;
  }
  .formDuration {
    padding-top: 24.5px;
  }
  .inputTime {
    margin-right: 0;
    padding-bottom: 10px;
    max-width: 180px;
  }

  /* .formContainer {
    max-width: 512px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 80px;
    margin-bottom: 40px;
    width: 530px;
  } */

  .titleForm {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    display: block;
    margin-bottom: 50px;
  }

  .inputName {
    padding-left: 5px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 59px;
  }

  .inputTime {
    padding-left: 5px;
    padding-top: 0px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    width: 200px;
    align-items: left;
  }

  .errorName {
    display: block;
    color: accentColor;
    margin-top: -50px;
  }

  .errorTime {
    display: block;
    color: accentColor;
    margin-top: -35px;
    margin-left: 100px;
  }
}

/*==================DESKTOP=========================*/

@media screen and (min-width: 1280px) {
  /* .formContainer {
    max-width: 530px;
    padding-left: 50px;
    padding-right: 80px;
    width: 530px;
  } */

  .titleForm {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 50px;
  }

  .inputName {
    margin-bottom: 50px;
  }

  .inputTime {
    width: 200px;
    margin-bottom: 60px;
  }

  .errorTime {
    display: block;
    color: accentColor;
    margin-top: -60px;
    margin-left: 51px;
  }
}
