.rightBarContainer {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .rightBarContainer {
    flex-grow: 1;
    min-height: 90vh;
    padding: 0;
    border-left: 1px solid rgba(24, 28, 39, 0.1);
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }
}
