:root {
    --violet: #8c72df;
    --coral: #FF765F;
    --green: #71DF87;
    --orange: #f78335;
}


@media screen and (max-width: 767px){
    .projectItem{
        color: ;
        margin-bottom: 10px;
        position: relative;
        border-radius: 5px;
        list-style: none;
        overflow: hidden;
        background-color:  #8c72df;
        padding-left: 10px;
        padding-top: 10px;
        width: 136px;
        height: 136px;
    }

    /*.projectItem:not(:nth-child(2n)) {*/
    /*    margin-right: 10px;*/
    /*}*/


    .title{
        margin-top: 0;
        margin-bottom: 6px;
        padding-right: 10px;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #FFFFFF;

    }

    .description{
        padding-right: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .buttonDelete{
        outline: none;
        border: none;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #FFFFFF;
    }

    .deleteIcon{
        fill: #8c72df;
        width: 16px;
        height: 16px
    }

}

@media screen and (min-width: 768px) {
    .projectItem{
        position: relative;
        border-radius: 5px;
        list-style: none;
        overflow: hidden;
        background-color: #8C72DF;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-top: 20px;
        width: 216px;
        height: 216px;
    }
    /*.projectItem:not(:nth-child(3n)) {*/
    /*    margin-right: 20px;*/
    /*}*/

    .title{
        margin-bottom: 10px;
        padding-right: 20px;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-top: 0;
        font-style: normal;
        font-weight: 800;
    }

    .description{
        padding-right: 20px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;

    }

    .buttonDelete{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        outline: none;
        border: none;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        background-color: #FFFFFF;

    }

    .deleteIcon{
        fill: #8c72df;
        width: 18px;
        height: 18px
    }

}

@media screen and (min-width: 1280px) {
    .projectItem{
        margin-bottom: 30px;
        padding-left: 28px;
        padding-top: 20px;
        width: 270px;
        height: 270px;
    }

    /*.projectItem:not(:nth-child(4n)) {*/
    /*    margin-right: 30px;*/
    /*}*/

    .title{
        margin-bottom: 10px;
        padding-right: 28px;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .description{
        padding-right: 28px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

}

/*====color cardProject=====*/

.defaultColor{
    background-color: #FFFFFF;
}

.projectItem:nth-child(1n){
    background-color: var( --violet);
}

.projectItem:nth-child(2n){
    background-color: var( --coral);
}

.projectItem:nth-child(3n){
    background-color:  var( --green);
}

.projectItem:nth-child(4n){
    background-color: var( --orange);
}

.projectItem:nth-child(5n){
    background-color: var( --orange);
}

.projectItem:nth-child(6n){
    background-color:  var( --green);
}
.projectItem:nth-child(7n){
    background-color: var( --coral);
}
.projectItem:nth-child(8n){
    background-color: var( --violet);
}


.projectItem:nth-child(1n) .deleteIcon{
    fill: var( --violet);
}

.projectItem:nth-child(2n) .deleteIcon{
    fill: var( --coral);
}

.projectItem:nth-child(3n) .deleteIcon{
    fill: var( --green);
}

.projectItem:nth-child(4n) .deleteIcon{
    fill:  var( --orange);
}

.projectItem:nth-child(5n) .deleteIcon{
    fill: var( --orange);
}

.projectItem:nth-child(6n) .deleteIcon{
    fill: var( --green);
}

.projectItem:nth-child(7n) .deleteIcon{
    fill: var( --coral);
}

.projectItem:nth-child(8n) .deleteIcon{
    fill: var( --violet);
}