.emptyMessage{
    padding-top: 200px;
}

.projectList{
    padding-inline-start:0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 100px;
}

@media screen and (min-width: 320px) {
    .projectList{
        gap:10px;
    }
}


@media screen and (min-width: 768px) {
    .projectList{
         gap: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .projectList{
        gap: 30px;
    }
}