
@value accentColor from '../../main.module.css';


.formContainer{
    max-width: 320px ;
    outline: 1px solid tomato;
    padding-top: 63px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    text-align: center;
    margin: 0 auto;
 }

 
  .titleForm {
font-weight: 500;
font-size: 26px;
line-height: 32px;
display: block;
align-items: center;
text-align: center;
color:  #181C27;
margin-bottom: 30px;
}
  

  .input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #181C27;
    /* cursor: pointer; */
    font-size: 16px;
    margin-bottom:30px ;
    max-width: 280px;
    color: #181C27;
    opacity: 60%;
  }
  
  .input:focus {
    outline-color: #FF6B08;
  }


.message{
font-size: 20px;
line-height: 20px;
letter-spacing: 0.04em;
color: #181C27;
text-align: left;
margin-bottom: 60px;
}


/*==================TABLET=========================*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 480px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }
}