.sprintsPageContainer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sprintsPageContainer {
    display: flex;
    margin: 0 auto;
    width: 768px;
  }

  .sprintListContainer {
    display: block;

    padding: 24px;
    border-top: 1px solid rgba(24, 28, 39, 0.1);
  }
}

@media (min-width: 1280px) {
  .sprintsPageContainer {
    width: 1280px;
  }
}
