.button {
  border-radius: 25px;
  padding: 11px 44px 11px 44px;
  background-color: #ff6b08;
  color: white;
  border: none;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  font-weight: 500;
font-size: 18px;
line-height: 22px;
}

.button:hover {
  background:white;
  transition: 0.5s ease-in-out;
  color:  #ff6b08;
box-shadow: 1px 1px 5px 1px  #ff6b08;
}

