
@value accentColor from '../../main.module.css';
@value greyColor from '../../main.module.css';


.button {
  font-family: inherit;
  border-radius: 25px;
  padding: 11px 44px 11px 44px;
  background-color: accentColor;
  color: white;
  border: none;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

.button:hover {
  background: white;
  transition: 0.5s ease-in-out;
  color: accentColor;
  box-shadow: 1px 1px 5px 1px accentColor;
}


@media screen and (min-width: 768px) {
  .button {
   margin-top: 80px;
  }
}