:root {
    --violet: #8c72df;
    --coral: #FF765F;
    --green: #71DF87;
    --orange: #f78335;
}


.box{
    margin-top: 100px;

}
.sideItem{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and  (min-width: 768px) and (max-width: 1279px){

    .sideLeftList{
        padding-inline-start:0;
        list-style: none;
        margin-left: 44px;

    }


    .sideItemBox{
        margin-right: 15px;
        width: 36px;
        height: 36px;
        background-color: #8c72df;
    }

}

@media screen and (min-width: 1280px){


    .sideLeftList{
        padding-inline-start:0;
        list-style: none;
        margin-left: 44px;
    }


    .sideItemBox{
        margin-right: 15px;
        width: 36px;
        height: 36px;
        /*background-color: #8c72df;*/
    }

}

.sideItem.sideItemBox:nth-child(8n + ){
    background-color: var( --violet);
}
.sideItem.sideItemBox:nth-child(8n + 1){
    background-color: var( --coral);
}
.sideItem.sideItemBox:nth-child(8n + 2){
    background-color:  var( --green);
}
.sideItem.sideItemBox:nth-child(8n + 6){
    background-color: var( --orange);
}
.sideItem.sideItemBox:nth-child(8n + 5){
    background-color: var( --violet);
}
.sideItem.sideItemBox:nth-child(8n + 4){
    background-color: var( --coral);
}
.sideItem.sideItemBox:nth-child(8n + 7){
    background-color:  var( --green);
}
.sideItem.sideItemBox:nth-child(8n + 8){
    background-color: var( --orange);
}
